<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <h1 class="text-3xl font-medium font-base text-black">
        The quick brown fox jumps over the lazy dog
    </h1>
</body>

</html>