<nav class="h-14 w-full flex sticky top-0 left-0 z-10 items-center bg-slate-100 border-b border-slate-300">
    <div class="flex items-center w-72 border-r border-slate-300">
        <a class="flex flex-row items-center justify-center gap-2 cursor-pointer logo border-r border-slate-300 p-4"
            title="HealthGate">
            <img class="object-cover w-6 h-6" src="/images/img/img_logo.png" alt="">
        </a>
        <h1 class="text-xl font-bold text-left pl-3 titleSidebar font-base text-brown flex-auto">ClearWay</h1>
    </div>
    <div class="flex items-center justify-between px-4 flex-auto">
        <div class="flex items-center">
            <svg class="stroke-maroon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-inbox">
                <polyline points="22 12 16 12 14 15 10 15 8 12 2 12" />
                <path
                    d="M5.45 5.11 2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z" />
            </svg>
            <h1 class="text-base font-medium text-left pl-3 titleSidebar font-base text-brown flex-auto">
                Pengajuan</h1>
        </div>
        <a class="p-1 hover:bg-slate-300" href="">
            <img class="object-cover border rounded-full w-6 h-6 border-slate-200 bg-blueSky"
                src="images/img/img_default.png" alt="">
        </a>
    </div>
</nav>