<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body class="bg-slate-100">
    <div class="flex flex-col justify-between mainContainer bg-slate-100">
        <%- include("../partials/navbar.ejs") %>
        <div class="flex">
            <%- include("../partials/sidebar.ejs") %>
            <div class="flex flex-col ml-72">
                
            </div>
        </div>
    </div>
</body>

</html>