<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body class="bg-slate-100">
    <div class="flex flex-col justify-between mainContainer bg-slate-100">
        <%- include("../partials/navbar.ejs") %>
            <div class="flex">
                <%- include("../partials/sidebar.ejs") %>
                    <div class="flex flex-col ml-72 flex-auto p-8 gap-10">
                        <div class="flex flex-col">
                            <h1 class="text-3xl font-semibold text-left titleSidebar font-base text-brown">
                                Izin Pengajuan</h1>
                            <div class="flex flex-row items-center gap-1">
                                <p class="text-sm font-medium font-base text-brown/60">Pengajuan belum dapat
                                    dilakukan, lengkapi</p>
                                <a
                                    class="group w-fit border border-slate-300 px-2 py-1 flex flex-row gap-1 cursor-pointer items-center hover:bg-white">
                                    <svg class="group-hover:stroke-maroon" xmlns="http://www.w3.org/2000/svg" width="18"
                                        height="18" viewBox="0 0 24 24" fill="none" stroke="#999999" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" class="lucide
                                        lucide-user-pen">
                                        <path d="M11.5 15H7a4 4 0 0 0-4 4v2" />
                                        <path
                                            d="M21.378 16.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z" />
                                        <circle cx="10" cy="7" r="4" />
                                    </svg>
                                    <p class="text-sm font-medium font-base text-brown/60 group-hover:text-brown">
                                        profil</p>
                                </a>
                                <p class="text-sm font-medium font-base text-brown/60">terlebih dahulu</p>
                            </div>
                        </div>
                        <div class="grid grid-cols-3 gap-4 bg-slate-200/50 p-6 min-h-96">
                            <!-- <div class="row-span-3 col-span-4 h-96 border flex justify-center items-center">
                                <div class="flex flex-col w-96">
                                    <h1 class="text-xl font-bold text-left titleSidebar font-base text-brown">
                                        Izin pengajuan belum dapat dilakukan</h1>
                                    <p class="text-sm font-medium font-base text-brown/60">Silahkan lengkapi profil
                                        terlebih dahulu sebagai syarat mengajukan izin pengajuan</p>
                                    <a
                                        class="group w-fit border border-slate-300 px-4 py-2 mt-4 flex flex-row gap-2 cursor-pointer items-center hover:bg-white">
                                        <svg class="group-hover:stroke-maroon" xmlns="http://www.w3.org/2000/svg"
                                            width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#999999"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide
                                                                            lucide-user-pen">
                                            <path d="M11.5 15H7a4 4 0 0 0-4 4v2" />
                                            <path
                                                d="M21.378 16.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z" />
                                            <circle cx="10" cy="7" r="4" />
                                        </svg>
                                        <p class="text-sm font-medium font-base text-brown/60 group-hover:text-brown">
                                            Lengkapi Profil</p>
                                    </a>
                                </div>
                            </div> -->
                            <div class="h-fit border border-slate-300 bg-slate-100 flex flex-col p-4 gap-3">
                                <div class="flex flex-col w-96">
                                    <h1 class="text-2xl font-bold text-left titleSidebar font-base text-brown">
                                        Synchronize Festival</h1>
                                    <p class="text-sm font-medium font-base text-brown/60">Acara Publik</p>
                                    <a
                                        class="w-fit px-2 py-1 mt-4 text-xs font-medium font-base text-white bg-green-500 flex flex-row">Menunggu</a>
                                </div>
                                <div class="flex flex-col divide-y divide-slate-300">
                                    <div class="flex flex-row justify-between py-[2px]">
                                        <h1 class="text-sm font-bold font-base text-navy">Jumlah peserta</h1>
                                        <p class="text-sm font-medium font-base text-navy/60">±1000 orang</p>
                                    </div>
                                    <div class="flex flex-row justify-between py-[2px]">
                                        <h1 class="text-sm font-bold font-base text-navy">Lokasi</h1>
                                        <p class="text-sm font-medium font-base text-navy/60">Kotamara</p>
                                    </div>
                                    <div class="flex flex-row justify-between py-[2px]">
                                        <h1 class="text-sm font-bold font-base text-navy">Tanggal</h1>
                                        <p class="text-sm font-medium font-base text-navy/60">30 Jan - 5 Feb 2025</p>
                                    </div>
                                    <div class="flex flex-row justify-between py-[2px]">
                                        <h1 class="text-sm font-bold font-base text-navy">Pukul</h1>
                                        <p class="text-sm font-medium font-base text-navy/60">16:00 - 22:00 WITA</p>
                                    </div>
                                </div>
                                <a class="w-fit px-4 py-1 text-sm font-medium font-base text-brown border border-slate-300 flex flex-row cursor-pointer items-center hover:bg-maroon hover:text-white"
                                    href="">Lihat selengkapnya</a>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</body>

</html>